---
import BasePageLayout from "../layouts/BasePageLayout.astro";

type Posts = Array<{ link: string; content: { rendered: string } }>;

const { content } = Astro.props;

export async function getStaticPaths() {
  const posts: Posts = await fetch(
    `${import.meta.env.API_URL}/pages?per_page=100&_fields=link,content.rendered`,
  ).then((response) => response.json());

  return posts
    .filter((post) => new URL(post.link).pathname !== "/")
    .map((post) => {
      return {
        params: { pathname: new URL(post.link).pathname },
        props: { content: post.content.rendered },
      };
    });
}
---

<BasePageLayout>
  <div class="min-w-full px-40">
    <div class="prose">
      <Fragment set:html={content} />
    </div>
  </div>
</BasePageLayout>
