---
import NetlifyIdentityWidget from "../components/NetlifyIdentityWidget.astro";
---

<head>
  <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
  <NetlifyIdentityWidget />
</head>
<body>
  <script>
    import CMS from "decap-cms-app";
    CMS.init();
  </script>
</body>
