---
import IndexLayout from "../layouts/IndexLayout.astro";

const page = await fetch(`${import.meta.env.API_URL}/pages/4703`).then(
  (response) => response.json(),
);
---

<IndexLayout>
  <div class="min-w-full">
    <div class="prose">
      <Fragment set:html={page.content.rendered} />
    </div>
  </div>
</IndexLayout>
