---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";

const allBlogPosts = await getCollection("berichte");
const index = await getEntry("pages", "index");
const { Content } = await index.render();

function recentBlogPosts(count: number) {
  return allBlogPosts
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, count);
}

const base_url = import.meta.env.BASE_URL;
---

<BaseLayout>
  <div class="flex flex-wrap justify-evenly mx-4 gap-16">
    <div class="prose">
      <Content />
    </div>

    <div class="">
      <h3 class="font-bold">aktuelle Events</h3>
        {
          index.data.events.map((event) => (
            <div>
              {event.date} - {event.name}
            </div>
          ))
        }
    </div>

    <div class="">
      <h3 class="font-bold">Hier die neuesten drei Berichte:</h3>
      <div class="">
        {
          recentBlogPosts(3).map((post) => (
            <a
              href={base_url + "berichte/" + post.slug}
              class="block hover:text-primary"
            >
              {post.data.title} ({new Date(post.data.date).toLocaleDateString()}
              )
            </a>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
