---
const res = await fetch("https://mtvbarfelde.de/wp-json/wp/v2/posts")
const posts = await res.json()
---
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>mtvbarfelde</title>
    </head>
    <body>
        <h1>mtvbarfelde</h1>
        {
          posts.map((post) => (
              <h2 set:html={post.title.rendered} />
              <p set:html={post.content.rendered} />
          ))
        }
    </body>
</html>
