---
import BaseLayout from "../layouts/BaseLayout.astro";

const page = await fetch(`${import.meta.env.API_URL}/pages/4703`).then(
  (response) => response.json(),
);
---

<BaseLayout>
  <div class="min-w-full px-40">
    <div class="prose">
      <Fragment set:html={page.content.rendered} />
    </div>
  </div>
</BaseLayout>
