---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";

interface Frontmatter {
  title: string;
  hero: string;
}

const sportarten = await Astro.glob<Frontmatter>("./*.md");
const images = import.meta.glob<{ default: ImageMetadata }>("@assets/**");

// check if all hero images exist
for (const sportart of sportarten) {
  if (!images[sportart.frontmatter.hero.replace(/^@assets/, "/src/assets")]) {
    throw new Error(
      `"${sportart.frontmatter.hero}" does not exist in glob: "@assets/**"`,
    );
  }
}
---

<BaseLayout>
  <div class="prose prose-xl min-w-full p-10 lg:px-48">
    <h1>Sportarten</h1>
    <div class="w-2/3">
      {
        sportarten.map((sportart) => (
          <div class="flex flex-wrap items-center gap-x-8">
            <Image
              src={images[
                sportart.frontmatter.hero.replace(/^@assets/, "/src/assets")
              ]()}
              alt=""
              class="w-2/3"
            />
            <h3>
              <a href={sportart.url}>{sportart.frontmatter.title}</a>
            </h3>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>
