---

---

<footer
  class="mt-24 flex h-16 w-full flex-wrap items-center gap-2 bg-neutral p-2 text-sm"
>
  <a class="hover:text-primary" href="/datenschutzerklaerung"
    >Datenschutzerklärung</a
  > /
  <a class="hover:text-primary" href="/impressum">Impressum</a>
</footer>
