---

---

<footer
  class="mt-24 flex h-16 w-full flex-wrap items-center gap-2 bg-neutral p-2"
>
  <div class="p-4">
    <a class="link-hover link" href="/datenschutzerklaerung"
      >Datenschutzerklärung</a
    > /
    <a class="link-hover link" href="/impressum">Impressum</a>
  </div>
</footer>
