---
const base_url = import.meta.env.BASE_URL;
---
<footer class="flex flex-wrap bg-background h-16 w-full p-2 mt-24 items-center gap-2 text-sm">
<a class="hover:text-primary" href={base_url + "datenschutzerklaerung"}>Datenschutzerklärung</a> /
<a class="hover:text-primary" href={base_url + "impressum"}>Impressum</a>
</footer>
