---
const base_url = import.meta.env.BASE_URL
---
<style>
#title { 
    color: #6c8644;
    background: #f9fcf7;
    margin: 0rem;
    font-size: 2rem;
    padding: 2rem;
    font-weight: 900;
}

#navbar {
    padding: 1rem;
    margin-bottom: 2rem;
}

#navbar a {
    margin: 0rem;
    padding: 1rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#navbar a:hover {
    margin: 0rem;
    padding: 1rem;
    color: green;
}
</style>

<script>
function header_dropdown(element: HTMLElement) {
    element.classList.toggle("show");
}
</script>

<h1 id="title">MTV Barfelde</h1>
<div id="navbar">
        <a href={base_url}>Aktuelles</a>
        <a href={base_url + "ueber-uns"}>über uns ...</a>
        <a href={base_url + "hsg"}>HSG 09</a>
        <a href={base_url + "unser-sporthaus"}>Sporthaus</a>
        <a href={base_url + "sportarten"}>Sportarten</a>
        <a href={base_url + "dokumente"}>Dokumente</a>
        <a href={base_url + "berichte"}>Berichte</a>
        <a href={base_url + "sportversicherung"}>Sportversicherung</a>
</div>
