---
// Component Script (JavaScript)
---
<style>
#title { 
    color: green;
    font-size: 2em;
}

#header {
    margin-bottom: 5em;
}
</style>

<h1 id="title">MTV Barfelde</h1>
<div id="header">
    <span>
        <a href="/">Startseite</a>
        <a href="/hsg">HSG 09</a>
        <a href="/berichte">Berichte</a>
    </span>
</div>
