---

---

<div class="h-14 border p-2 text-center">
  <marquee bahaviour="slide" truespeed scrolldelay="20"
    >NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR
    NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR
  </marquee>
</div>
