---
// https://docs.astro.build/en/guides/styling/#passing-a-class-to-a-child-component
const { class: className, ...rest } = Astro.props;
---

<ul class={className} {...rest}>
  <li class="py-1 lg:px-1 lg:py-0"><a href="/">Aktuelles</a></li>
  <li class="py-1 lg:px-1 lg:py-0">
    <details>
      <summary>über uns...</summary>
      <ul>
        <li><a href="/ueber-uns/">über uns...</a></li>
        <li>
          <a class="whitespace-nowrap" href="/ueber-uns/alles-auf-einen-blick"
            >Alles auf einen Blick</a
          >
        </li>
        <li>
          <a href="/meldung-von-sportunfaellen">Sportversicherung</a>
        </li>
      </ul>
    </details>
  </li>
  <li class="py-1 lg:px-1 lg:py-0">
    <details>
      <summary>HSG 09</summary>
      <ul>
        <li class="break-word whitespace-normal lg:min-w-max">
          <a href="/hsg09/">HSG 09 Gronau/Barfelde</a>
        </li>
        <li><a href="/hsg09/vorstand-hsg09/">Vorstand</a></li>
        <li><a href="/hsg09/trainingszeiten/">Trainingszeiten</a></li>
        <li><a href="/hsg09/hsg-09-newsletter/">Newsletter</a></li>
        <li><a href="/hsg09/spielplan/">Spielplan</a></li>
      </ul>
    </details>
  </li>
  <li class="py-1 lg:px-1 lg:py-0">
    <details>
      <summary>Sporthaus</summary>
      <ul>
        <li><a href="/unser-sporthaus/">Unser Sporthaus</a></li>
        <li><a href="/unser-sporthaus/preise/">Miete / Preise</a></li>
        <li><a href="/unser-sporthaus/belegungsplan/">Belegungsplan</a></li>
      </ul>
    </details>
  </li>
  <li class="py-1 lg:px-1 lg:py-0">
    <details>
      <summary>Sportarten</summary>
      <ul>
        <li><a href="/sportarten/">Überblick Sportarten</a></li>
        <li><a href="/sportarten/gymnastikdamen/">Gymnastikdamen</a></li>
        <li><a href="/sportarten/fit-for-fun/">FitForFun</a></li>
        <li><a href="/sportarten/jedermaenner/">Jedermänner</a></li>
        <li><a href="/sportarten/bauch-beine-po/">Bauch-Beine-Po</a></li>
        <li><a href="/sportarten/fatburner-step/">Fatburner Step</a></li>
        <li><a href="/sportarten/zumba/">Zumba</a></li>
        <li>
          <a href="/sportarten/eltern-kind-turnen/">Eltern-Kind-Turnen</a>
        </li>
        <li><a href="/sportarten/kinderzumba/">Kinderzumba</a></li>
      </ul>
    </details>
  </li>
  <li class="py-1 lg:px-1 lg:py-0"><a href="/berichte/">Berichte</a></li>
</ul>
