---
const base_url = import.meta.env.BASE_URL;

const menu = [
  {
    text: "Aktuelles",
    link: base_url,
  },
  {
    text: "über uns ...",
    link: base_url + "ueber-uns",
  },
  {
    text: "HSG 09",
    link: base_url + "hsg",
  },
  {
    text: "Sporthaus",
    link: base_url + "unser-sporthaus",
  },
  {
    text: "Sportarten",
    link: base_url + "sportarten",
  },
  {
    text: "Berichte",
    link: base_url + "berichte",
  },
];
---
<nav class="py-4 overflow-x-auto">
    {menu.map((item) => <a href={item.link} class="p-4 min-w-fit whitespace-nowrap">{item.text}</a>)}
</nav>
