---
---
<div class="navbar bg-base-100">

    <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="/">Aktuelles</a></li>
            <li><a href="/ueber-uns">über uns...</a>
                <ul class="p-2">
                    <li><a href="/ueber-uns/alles-auf-einen-blick">Alles auf einen Blick</a></li>
                    <li><a href="/dokumente">Dokumente</a></li>
                    <li><a href="/sportversicherung">Sportversicherung</a></li>
                </ul>
            </li>
            <li><a href="/berichte">Berichte</a></li>
            <li><a href="/hsg09">HSG 09</a>
                <ul class="p-2">
                    <li><a href="/hsg09/vorstand-hsg09">Vorstand</a></li>
                    <li><a href="/hsg09/trainingszeiten">Trainingszeiten</a></li>
                    <li><a href="/hsg09/hsg-09-newsletter">Newsletter</a></li>
                    <li><a href="/hsg09/spielplan">Spielplan</a></li>
                </ul>
            </li>
            <li><a href="/unser-sporthaus">Sporthaus</a>
                <ul class="p-2">
                    <li><a href="/unser-sporthaus/preise">Miete / Preise</a></li>
                    <li><a href="/unser-sporthaus/belegungsplan">Belegungsplan</a></li>
                </ul>
            </li>
            <li><a href="/sportarten">Sportarten</a>
                <ul class="p-2">
                    <li><a href="/sportarten/gymnastikdamen">Gymnastikdamen</a></li>
                    <li><a href="/sportarten/fit-for-fun">FitForFun</a></li>
                    <li><a href="/sportarten/jedermaenner">Jedermänner</a></li>
                    <li><a href="/sportarten/bauch-beine-po">Bauch-Beine-Po</a></li>
                    <li><a href="/sportarten/zumba">Zumba</a></li>
                    <li><a href="/sportarten/kinderzumba">Kinderzumba</a></li>
                    <li><a href="/sportarten/eltern-kind-turnen">Eltern-Kind-Turnen</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/">Aktuelles</a></li>
            <li tabindex="0">
                <details>
                    <summary>über uns...</summary>
                    <ul class="p-2">
                        <li><a href="/ueber-uns/alles-auf-einen-blick">Alles auf einen Blick</a></li>
                        <li><a href="/ueber-uns">über uns...</a></li>
                        <li><a href="/dokumente">Dokumente</a></li>
                        <li><a href="/sportversicherung">Sportversicherung</a></li>
                    </ul>
                </details>
            </li>
            <li><a href="/berichte">Berichte</a></li>
            <li tabindex="0">
                <details>
                    <summary>HSG 09</summary>
                    <ul class="p-2">
                        <li><a href="/hsg09">HSG 09</a></li>
                        <li><a href="/hsg09/vorstand-hsg09">Vorstand</a></li>
                        <li><a href="/hsg09/trainingszeiten">Trainingszeiten</a></li>
                        <li><a href="/hsg09/hsg-09-newsletter">Newsletter</a></li>
                        <li><a href="/hsg09/spielplan">Spielplan</a></li>
                    </ul>
                </details>
            </li>
            <li tabindex="0">
                <details>
                    <summary>Sporthaus</summary>
                    <ul class="p-2">
                        <li><a href="/unser-sporthaus">Sporthaus</a></li>
                        <li><a href="/unser-sporthaus/preise">Miete / Preise</a></li>
                        <li><a href="/unser-sporthaus/belegungsplan">Belegungsplan</a></li>
                    </ul>
                </details>
            </li>
            <li tabindex="0">
                <details>
                    <summary>Sportarten</summary>
                    <ul class="p-2">
                        <li><a href="/sportarten">Überblick Sportarten</a></li>
                        <li><a href="/sportarten/gymnastikdamen">Gymnastikdamen</a></li>
                        <li><a href="/sportarten/fit-for-fun">FitForFun</a></li>
                        <li><a href="/sportarten/jedermaenner">Jedermänner</a></li>
                        <li><a href="/sportarten/bauch-beine-po">Bauch-Beine-Po</a></li>
                        <li><a href="/sportarten/zumba">Zumba</a></li>
                        <li><a href="/sportarten/kinderzumba">Kinderzumba</a></li>
                        <li><a href="/sportarten/eltern-kind-turnen">Eltern-Kind-Turnen</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>

</div>
