---
const base_url = import.meta.env.BASE_URL;
const menu = [
  {
    text: "Aktuelles",
    link: base_url,
  },
  {
    text: "über uns ...",
    link: base_url + "ueber-uns",
    submenu: [
      { text: "über uns ...", link: base_url + "ueber-uns" },
      {
        text: "Alles auf einen Blick",
        link: base_url + "alles-auf-einen-blick",
      },
    ],
  },
  {
    text: "HSG 09",
    link: base_url + "hsg",
    submenu: [
      { text: "HSG 09 Gronau/Barfelde", link: base_url + "hsg" },
      { text: "Vorstand", link: base_url + "vorstand" },
      { text: "Trainingszeiten", link: base_url + "trainingszeiten" },
      { text: "Newsletter", link: base_url + "newsletter" },
      { text: "Spielplan", link: base_url + "spielplan" },
    ],
  },
  {
    text: "Sporthaus",
    link: base_url + "unser-sporthaus",
    submenu: [
      { text: "Unser Sporthaus", link: base_url + "unser-sporthaus" },
      { text: "Miete / Preise", link: base_url + "preise" },
      { text: "Belegungsplan", link: base_url + "belegungsplan" },
    ],
  },
  {
    text: "Sportarten",
    link: base_url + "sportarten",
    submenu: [
      { text: "Überblick Sportarten", link: base_url + "sportarten" },
      {
        text: "Gymnastikdamen",
        link: base_url + "sportarten" + "gymnastikdamen",
      },
    ],
  },
  {
    text: "Berichte",
    link: base_url + "berichte",
  },
];
---
<button class="mobile-menu-button lg:hidden p-2">Menü</button>
<nav class="grid grid-flow-row lg:grid-flow-col justify-center lg:justify-start justify-items-center lg:justify-items-start p-4 gap-x-10 gap-y-4 bg-white font-bold">
  {
    menu.map((item) => (
      <button class="group relative" submenu-button>
        <a class="topmenu-link hover:text-primary" href={item.link}>
          {item.text}
        </a>
        {item.submenu && (
    <svg class="inline" width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6H11L7.5 10.5L4 6Z" fill="currentColor"></path></svg>
          <div class="submenu hidden bg-white absolute w-max px-4 group-hover:block border-solid border border-t-0 rounded shadow z-10">
            {item.submenu.map((item) => (
              <a href={item.link} class="block whitespace-nowrap py-2 hover:text-primary text-left">
                {item.text}
              </a>
            ))}
          </div>
        )}
      </button>
    ))
  }
</nav>

<script>
const buttons = document.querySelectorAll('[submenu-button]');
buttons.forEach((button) => {
    // button.querySelector(".topmenu-link")?.addEventListener("click", (e) => {
    //     e.preventDefault();
    // });
    button.addEventListener('click', () => {
        button.getElementsByClassName("submenu")[0].classList.toggle("hidden");
    });
});

const mmb = document.querySelector('.mobile-menu-button');
const navbar = document.querySelector('nav');
mmb?.addEventListener('click', () => {
    navbar?.classList.toggle('hidden');
})

window.addEventListener('resize', () => {
    if (window.visualViewport?.width < 1024) {
        navbar?.classList.add('hidden');
    } else {
        navbar?.classList.remove('hidden');
    }
});

if (window.visualViewport?.width < 1024) {
    navbar?.classList.add('hidden');
}
</script>
