---
import BasePageLayout from "@layouts/BasePageLayout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("berichte").then((berichte) =>
  berichte.sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
  ),
);
---

<BasePageLayout>
  <h1>Alle Berichte</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/berichte/${post.slug}`}>
            {post.data.title} ({new Date(post.data.date).toLocaleDateString()})
          </a>
        </li>
      ))
    }
  </ul>
</BasePageLayout>
