---
import BasePageLayout from "@layouts/BasePageLayout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("berichte").then((berichte) =>
  berichte.sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
  ),
);
---

<BasePageLayout>
  <h1>Alle Berichte</h1>
  <ul class="prose-lg">
    {
      posts.map((post) => (
        <li>
          <span class="pr-2">
            {new Date(post.data.date).toLocaleDateString("de")}
          </span>
          <a
            href={`/berichte/${post.slug}`}
            class="no-underline hover:underline"
          >
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BasePageLayout>
