---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="min-w-full p-10 lg:px-48">
    <div class="prose">
      <slot />
    </div>
    <slot name="below" />
  </div>
</BaseLayout>
